.SingleProduct{
    border:2px solid gray;
    padding:10px;
    border-radius: 8px;
}
img{
    width:100%;
}
.cartInfo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap:20px;
}
.button{
    padding:0px 22px;
}

